html {
    background: black url("images/ricardo-gomez-angel-GsZLXA4JPcM-unsplash.jpg") no-repeat fixed center;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    margin: 4% 8%;
    text-align: center;
}

h1 {
    margin: auto 0 30px 0;
}

#project {
    background-color: #333333;
    border-radius: 7px;
    padding: 10px 5px;
    margin-bottom: 20px;
    box-shadow: 20px 20px 40px 10px #091312;
}

#project img {
    width: 45%;
    display: block;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 3px;
}

#project p {
    font-size: 20px;
    color: white;
}

#project a {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 500px) and (max-height: 4895px) {
    body {
        margin: 10% 3% 5% 3%;
    }

    h1 {
        margin-bottom: 5%;
    }

    #project p {
        font-size: 18px;
    }

    #project img {
        width: 70%;
    }
}