html {
    scroll-behavior: smooth;
}

body {
    background: black url("images/josh-rose-trYl7JYATH0-unsplash.jpg") top left / 100% auto no-repeat fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 4% 9%;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: auto 0 30px 0;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

#project {
    background-color: #262626;
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px 5px #051f1c;
}

#project p {
    font-size: 19px;
}

#project a {
    color: white;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.images img {
    width: 80px;
    padding: 0 10px;
    filter: drop-shadow(0 0 20px black);
}

.demo img {
    width: 40%;
    display: block;
    margin: auto auto 3% auto;
    border-radius: 4px;
    filter: drop-shadow(0 0 7px black);
}

.links {
    color: #e6e6e6;
    text-decoration: none;
    margin: 0 10px 20px 10px;
    filter: drop-shadow(0 0 10px black);
}


@media only screen and (max-width: 500px) and (max-height: 4895px) {
    body {
        margin: 10% 3% 5% 3%;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 5%;
    }

    h2 {
        font-size: 20px;
    }

    #project p {
        font-size: 17px;
    }

    .images img {
        width: 50px;
    }

    .demo img {
        width: 80%;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
    }

    #project {
        background-color: white;
    }

    #project a {
        color: black;
    }

    h1 {
        color: white;
    }

    .links {
        color: black;
        filter: drop-shadow(0 0 10px rgb(228, 217, 217));
    }

    .images img {
        filter: drop-shadow(0 0 10px rgb(228, 217, 217));
    }

    .demo img {
        filter: drop-shadow(0 0 7px rgb(228, 217, 217));
    }
}