{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
        <link rel="icon" href="{% static "images/icon.png" %}">
        <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
        <title>About me</title>
    </head>

    <body>
        <h1>404 ERROR</h1>
        <img src="{% static "images/fa-exclamation-circle.svg" %}" alt="Exclamation circle" id="fa-icon-error">
        <br>
        <p>Sorry, an error occurred while finding this page.</p>
        <p>Please check if the entered URL is correct. The page could also be renamed or it no longer exists.</p>
    </body>
</html>