{% extends "base.html" %}
{% load static %}

{% block title %}
        <title>404</title>
{% endblock title %}


{% block page-content %}
        <main id="main-main">
            <h1>404 ERROR</h1>

            <div class="box">
                <i class="fas fa-exclamation-circle fa-5x" style="color: orange"></i>
                <br>
                <p>Sorry, an error occurred while finding this page.</p>
                <p>Please check if the entered URL is correct. The page could also be renamed or it no longer exists.</p>
            </div>
        </main>
{% endblock page-content %}