{% extends "base.html" %}
{% load static %}

{% block title-body %}
        <title>Contact Me</title>
    </head>

    <body id="main-body">
{% endblock title-body %}

{% block page-content %}
        <main id="main-main">
            <h1>CONTACT ME</h1>

            <div class="box contacts-box">
                <div class="contact">
                    <i class="fas fa-envelope fa-2x"></i>
                    <p>email: <a href="mailto:contact@amadejpapez.com">contact@amadejpapez.com</a></p>
                </div>

                <div class="contact">
                    <i class="fab fa-twitter fa-2x"></i>
                    <p>Twitter: <a href="https://twitter.com/amadejpapez">amadejpapez</a></p>
                </div>

                <div class="contact">
                    <i class="fab fa-github fa-2x"></i>
                    <p>GitHub: <a href="https://github.com/amadejpapez">amadejpapez</a></p>
                </div>
            </div>
        </main>

{% endblock page-content %}