{% extends "base.html" %}
{% load static %}

{% block title %}
        <title>About me</title>
{% endblock title %}


{% block page-content %}
        <main id="main-main">
            <h1>ABOUT ME</h1>

            <div class="box">
                <p>My name is Amadej and I am an 18-year-old from Slovenia. 👋</p>
                <p>Since middle school, I loved reading cybersecurity news about how attackers got in and what the company could do to prevent it.</p>
                <p>In high school we were writing simple websites, although we were the ones teaching the professor... At that time I also got an interest to try out Linux by dual-booting it alongside of Windows, so I could easily switch between Linux and Windows. I switched between a few of the distros and in the process learned a lot about Linux, Unix commands and about different open-source tools.</p>
                <img src="{% static "images/python.png" %}" alt="Python logo" style="width: 9%; min-width: 100px">
                <p>A year ago, I started learning Python as an attempt to get into programming, and I love working with it.</p>
                <p>Right now I have a few small Python projects myself and this website is made possible using Python (Django). In my free time I also actively contribute to other open-source Python projects.</p>
            </div>
        </main>
{% endblock page-content %}