{% extends "base.html" %}
{% load static %}

{% block title-body %}
        <title>My Projects</title>
    </head>

    <body id="main-body">
{% endblock title-body %}

{% block page-content %}
        <main id="main-main">
            <h1>MY PROJECTS</h1>

            <div class="box">
                <h2>ApplSec</h2>
                <p>Every day the bot checks Apple Security Updates page and tweets when new updates get released, how many security issues Apple fixed in each update, if there were any zero-days fixed, if any older release notes got updated and much more.</p>
                <picture class="demo">
                    <source srcset="{% static "images/image2-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image2-lightmode.png" %}" alt="ApplSec 'New Updates Released' tweet">
                </picture>
                <picture class="demo">
                    <source srcset="{% static "images/image3-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image3-lightmode.png" %}" alt="ApplSec 'Fixed in iOS 14.4' tweet">
                </picture>
                <picture class="demo">
                    <source srcset="{% static "images/image4-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image4-lightmode.png" %}" alt="ApplSec 'Emergency updates' tweet">
                </picture>
                <picture class="demo">
                    <source srcset="{% static "images/image5-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image5-lightmode.png" %}" alt="ApplSec 'Security notes updated' tweet">
                </picture>
                <picture class="demo">
                    <source srcset="{% static "images/image6-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image6-lightmode.png" %}" alt="ApplSec 'Fixes in Apple websites' tweet">
                </picture>
                <picture class="demo">
                    <source srcset="{% static "images/image7-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image7-lightmode.png" %}" alt="ApplSec 'iOS statistics' tweet">
                </picture>
                <p>The code is available on GitHub and I have a lot more features in mind that I will be adding in the future. 👀</p>
                <a href="https://github.com/amadejpapez/ApplSec" class="fab fa-github fa-2x links" aria-label="ApplSec GitHub page"></a>
                <a href="https://twitter.com/ApplSec" class="fab fa-twitter fa-2x links" aria-label="ApplSec Twitter account"></a>
            </div>

            <div class="box">
                <h2>amadejpapez.com</h2>
                <p>My personal website where I can showcase myself, my projects and where I will be able to host my future projects. Currently it is using Django, Python web framework.</p>
                <div class="demo">
                    <img src="{% static "images/django-icon.png" %}" alt="Django icon">
                </div>
                <p>The code and changes are regularly pushed to GitHub but the repository is private as the website is still a work in progress. 👨‍💻</p>
            </div>

            <div class="box">
                <h2>My work in open-source</h2>
                <p>When I was checking the GitHub page of a package that I was using, I noticed that they had a few issues open. I started by adding and improving hash type detection in a tool called <b><a href="https://github.com/HashPals/Name-That-Hash">Name-That-Hash</a></b>. It is a popular tool used to get the type of a hash. You give it a hash and it will try to find out the type. It also returns john and hashcat mode names for cracking that hash type.</p>
                <div class="demo">
                    <img class="demo-larger" src="{% static "images/nth-demo.png" %}" alt="Demo run of Name-That-Hash in a terminal">
                </div>

                <p>Because I worked a lot with regex when contributing to Name-That-Hash, I was invited to help with a tool called <b><a href="https://github.com/HashPals/Name-That-Hash">PyWhat</a></b> before it was even public. PyWhat is another tool from <a href="https://twitter.com/bee_sec_san">Bee</a>, who is an amazing person and a creator of Name-That-Hash! PyWhat's job is to identify and return specific information from text, files or even whole folders. It can find IP addresses, emails, phone numbers, coordinates, Bitcoin wallet addresses and a bunch of more stuff.</p>
                <div class="demo">
                    <img class="demo-larger" src="{% static "images/pywhat-demo.gif" %}" alt="Demo run of PyWhat in a terminal">
                </div>
            </div>

            <div class="box">
                <h2>AUR</h2>
                <p>As an active Arch user, I noticed that a few packages I was using were a few versions behind and without a maintainer (ophaned). The packages were in AUR which is short for Arch User Repository. There users can upload little scripts to download and install a specific version of a package. I adopted three packages that I was using and that were without a maintainer. I am also the maintainer of the <b>python-name-that-hash</b> package.</p>
                <p>When new updates get released, I update the package and users that downloaded my package from AUR also get the update.</p>
                <div class="demo">
                    <img class="demo-larger" src="{% static "images/aur-demo.png" %}" alt="Name-That-Hash package on AUR">
                </div>
                <p>I am planning to upload all of the PKGBUILD scripts to GitHub.</p>
            </div>

            <div class="box">
                <h2>End of Year Countdown</h2>
                <p>My first Twitter bot! It is tweeting which day of the year is it and how many days or weeks there are till the end of the year. Recently it started tweeting with images to make tweets more interesting. 📆</p>
                <picture class="demo">
                    <source srcset="{% static "images/image1-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image1-lightmode.png" %}" alt="EndOfYearCountdown tweet">
                </picture>
                <p>The code is available on GitHub and although the concept of the bot is very simple, it caused me headaches at the start. After a few hours of learning Python, I quickly jumped into this bot. If you look at the
                <a href="https://github.com/amadejpapez/EndofYearCountdown/commit/38ff39fc2241a5b16e263132aad382340713c67b" aria-label="First version of the EndOfYearCountdown bot on GitHub">first version</a>, the bot did not do any calculations at all. I calculated the number of days left and entered them in manually for each day. When executed, the bot tweeted the text I have written, waited one day, tweeted the next text and so on.</p>
                <p>Now almost a year later the bot is fully automated and does not need any change even when a new year starts. 😁</p>
                <a href="https://github.com/amadejpapez/EndofYearCountdown" class="fab fa-github fa-2x links" aria-label="EndOfYearCountdown GitHub page"></a>
                <a href="https://twitter.com/EndOfYearCount" class="fab fa-twitter fa-2x links" aria-label="EndOfYearCountdown Twitter account"></a>
            </div>
        </main>

{% endblock page-content %}