<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
        <link rel="icon" href="{% static "images/icon.png" %}">
        <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>About me</title>

        <style>
            body {
                background: black url("{% static "images/josh-rose-trYl7JYATH0-unsplash.jpg" %}") top left / 100% auto no-repeat fixed;
            }
        </style>
    </head>

    <body>
        <h1>ABOUT ME</h1>

        <div id="project">
            <p>My name is Amadej and I am 18 years old. 👋</p>
            <p>When I was still in the middle school, I started reading a lot about cybersecurity. That was the reason why I started experimenting with Linux. I learned about Lunix, Unix commands and about different tools. And btw I use Arch!</p>
            <p>A year ago I started learning Python as I wanted to also get into programming. I knew HTML and CSS from before and I did also try some JavaScript. I decided I would look into Python more and it became really fun working with it.</p>
            <p>A year later I have a few
            <a href="/projects">Python projects</a>
            🐍 and this website is built using Django, Python web framework!</p>
            <h2 style="margin-top: 40px;">WHAT I'M CURRENTLY LEARNING:</h2>
            <div class="images">
                <div><img src="{% static "images/html.png" %}"></div>
                <div><img src="{% static "images/css.png" %}"></div>
                <div><img src="{% static "images/javascript.png" %}"></div>
                <div><img src="{% static "images/python.png" %}"></div>
            </div>
        </div>
    </body>
</html>