<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
        <link rel="icon" href="{% static "images/icon.png" %}">
        <link rel="apple-touch-icon" href="{% static "images/icon.png" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>About me</title>
    </head>

    <body>
        <h1>ABOUT ME</h1>

        <div id="project">
            <p>My name is Amadej and I am 18 years old. 👋</p>
            <p>A year ago I started learning Python. I knew HTML, CSS and I did try JavaScript. I decided I would look into Python and have some fun with it. A year later I have this website built with Django and
            <a href="/projects" style="color: white;">here</a>
            you can find some of my small Python projects. 🐍</p>
            <h2 style="margin-top: 40px;">WHAT I'M CURRENTLY LEARNING:</h2>
            <div class="images">
                <div><img src="{% static "images/html.png" %}"></div>
                <div><img src="{% static "images/css.png" %}"></div>
                <div><img src="{% static "images/javascript.ico" %}"></div>
                <div><img src="{% static "images/python.ico" %}"></div>
            </div>
            <p>I am also interested in cybersecurity. I am enjoying all of this very much and there is still a lot more to learn. 👨‍💻</p>
        </div>
    </body>
</html>