<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
        <link rel="icon" href="{% static "images/icon.png" %}">
        <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>My projects</title>
    </head>

    <body>
        <a href="/" class="links" style="margin: auto 0 30px 0; filter: drop-shadow(0 0 0)"><h1>MY PROJECTS</h1></a>

        <div id="project">
            <h2>End of Year Countdown</h2>
            <p>This is my first Python project 🐍 and it is a Twitter bot that tweets how many days or weeks there are till the end of the year. It uses Tweepy module to communicate with Twitter API. 👨‍💻</p>
            <p>The code is open source and although the concept of the bot is very simple it caused me some headaches at the start as I just started with Python at that time.</p>
            <a href="https://github.com/amadejpapez/EndofYearCountdown" class="fa fa-github fa-2x links"></a>
            <a href="https://twitter.com/EndOfYearCount" class="fa fa-twitter fa-2x links"></a>
            <div class="demo">
                <picture>
                    <source srcset="{% static "images/image1-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image1-lightmode.png" %}">
                </picture>
            </div>
        </div>

        <div id="project">
            <h2>ApplSec</h2>
            <p>Twitter bot written in Python 🐍 that tweets how many days or weeks there are till the end of the year. It uses Tweepy module to communicate with Twitter API. 👨‍💻</p>
            <p>The code is open source and although the concept of the bot is very simple it caused me some headaches at the start as I just started with Python at that time.</p>
            <a href="https://github.com/amadejpapez/ApplSec" class="fa fa-github fa-2x links"></a>
            <a href="https://twitter.com/ApplSec" class="fa fa-twitter fa-2x links"></a>
            <div class="demo">
                <picture>
                    <source srcset="{% static "images/image2-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image2-lightmode.png" %}">
                </picture>
                <picture>
                    <source srcset="{% static "images/image3-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image3-lightmode.png" %}">
                </picture>
                <picture>
                    <source srcset="{% static "images/image4-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image4-lightmode.png" %}">
                </picture>
                <picture>
                    <source srcset="{% static "images/image5-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image5-lightmode.png" %}">
                </picture>
                <picture>
                    <source srcset="{% static "images/image6-darkmode.png" %}" media="(prefers-color-scheme: dark)">
                    <img src="{% static "images/image6-lightmode.png" %}">
                </picture>
            </div>
        </div>
    </body>
</html>